body {
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.5;
}

ol {
  list-style-type: decimal;
}

ol.choices {
  list-style-type: upper-alpha;
}

ul.answer {
  list-style-type: none;
}

code {
  font-family: monospace;
  background-color: #e7e7e7;
  padding: 3px;
}